.hero_div {
  position: relative;
}

.hero-pictures_div {
  width: 100%;
  height: 455px;
  position: relative;
}

.hero-mainPicture_img {
  /* border-color: solid 10px red; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-tornEffect_img {
  position: absolute;
  /* border: solid orange 1px; */
  bottom: 0px;
  left: 500px;
}

.hero-title_div {
  top: 0px;
  background-color: white;
  width: 410px;
  height: 270px;
  padding: 20px;
  top: 75px;
  left: 40px;
  position: absolute;
}

.hero-title-button_div {
  width: 187px;
  height: 45px;
  background-color: #2cb1ba;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_link {
  border: none;
  color: white;
  text-decoration: none;
}
