.home_link {
  text-decoration: none;
  font-size: 12px;
  color: #999;
}

.home-items_div {
  display: flex;
  flex-wrap: wrap;
  /* background-color: yellow; */
}

.home-item_div {
  display: flex;
  flex-direction: column;
  /* border: solid 1px black; */
  width: 235px;
  padding: 5px;
  margin-top: 30px;
}

.home-item_div:hover {
  /* background-color: red; */
  box-shadow: 3px 3px 5px 6px #ccc;
  transform: scale(1.02);
}

.home-item-user_div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-item-avatar_img {
  object-fit: center;
  height: 25px;
  width: 25px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.home-item-product_img {
  height: 360px;
  width: 100%;
  object-fit: cover;
}

.home-item-details_div {
  margin-top: 10px;
}

.home-item-details-price_span {
  color: black;
  font-size: 14px;
}

.home-button_div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 30px;
}

.home_button {
  height: 30px;
  width: 115px;
  color: white;
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  margin-right: 30px;
  margin-top: 10px;
}

.home-no_button {
  height: 30px;
  width: 115px;
  color: white;
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  margin-right: 30px;
  margin-top: 10px;
  opacity: 50%;
}
