.login_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: red solid 3px; */
}

.login_div h2 {
  font-size: 24px;
}

.login_form {
  /* border: blue 3px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 283px;
  width: 275px;
}

.login-form-fields-input_div {
  /* border: red solid 3px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.login-form-fields_input {
  border: none;
  border-bottom: 1px solid #fcced3;
  font-size: 13px;
  padding: 10px;
}

.login-form-links_div {
  width: 100%;
}

.login-form-links-link_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  /* border: black solid 3px; */
  background-color: #2cb1ba;
  border-radius: 5px;
}

.login-form-links-submit_link {
  color: white;
  text-decoration: none;
}

.login-form-links-signup_link {
  text-decoration: none;
  color: #2cb1ba;
  font-size: 12px;
}
