.background-grey_div {
  background-color: #ebedee;
}

.offer-content_div {
  display: flex;
  gap: 100px;
}

.offer-content_div img {
  width: 450px;
  height: 605px;
  margin: 30px;
}

.text-product_div {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 30px;
  padding: 20px;
  gap: 30px;
}

.title-details-product_div {
  display: flex;
  flex-direction: column;
}
